[submodule "GEE_notebook_Forestry"]
	path = GEE_notebook_Forestry
	url = https://github.com/miqbalf/GEE_notebook_Forestry.git
[submodule "ex_ante"]
	path = ex_ante
	url = https://github.com/miqbalf/ex_ante.git
[submodule "geoserver"]
	path = geoserver
	url = git@github.com:miqbalf/geoserver_custom_war_extension.git
[submodule "arcpy_arcgis_api_lib"]
	path = arcpy_arcgis_api_lib
	url = https://github.com/miqbalf/arcpy_arcgis_api_lib.git
