[submodule "GEE_notebook_Forestry"]
	path = GEE_notebook_Forestry
	url = git@github.com:miqbalf/GEE_notebook_Forestry.git
[submodule "ex_ante"]
	path = ex_ante
	url = git@github.com:miqbalf/ex_ante.git
[submodule "geoserver"]
	path = geoserver
	url = git@github.com:miqbalf/geoserver_custom_war_extension.git
[submodule "arcpy_arcgis_api_lib"]
	path = arcpy_arcgis_api_lib
	url = git@github.com:miqbalf/arcpy_arcgis_api_lib.git
[submodule "arcgis_restapi_notebooks"]
	path = arcgis_restapi_notebooks
	url = git@github.com:miqbalf/arcgis_restapi_notebooks.git
[submodule "forestry_carbon_arr"]
	path = forestry_carbon_arr
	url = git@github.com:miqbalf/forestry_carbon_arr.git
[submodule "eemont-osi"]
	path = eemont-osi
	url = git@github.com:miqbalf/eemont-osi.git
