<restRoleService>
  <name>unified_rest_role_service</name>
  <baseUrl>http://django:8000/api/auth/geoserver/roles/</baseUrl>
  <headers>
    <entry>
      <string>X-Role-Secret</string>
      <string>EGhbDepgQZPGQCEpTddXrkpEaOkvBYjx</string>
    </entry>
  </headers>
  <connectTimeout>5000</connectTimeout>
  <readTimeout>5000</readTimeout>
  <parseAs>XML</parseAs>
  <roleElement>role</roleElement>
  <cache>
    <enabled>true</enabled>
    <ttlSeconds>60</ttlSeconds>
  </cache>
</restRoleService>

